<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
       div html {
            padding: 0px;
            margin: 0px;
            border: 0px solid none;
        }

        h1 {
            margin: 1em 0 0.5em 0;
            font-weight: 600;
            font-family: 'Titillium Web', sans-serif;
            position: relative;
            font-size: 36px;
            line-height: 40px;
            padding: 15px 15px 15px 15%;
            color: #355681;
            box-shadow: inset 0 0 0 1px rgba(53,86,129, 0.4), inset 0 0 5px rgba(53,86,129, 0.5), inset -285px 0 35px white;
            border-radius: 0 10px 0 10px;    
            background: white;        
        }
        h2 {
            margin: 1em 0 0.5em 0;
            font-weight: normal;
            position: relative;
            text-shadow: 0 -1px rgba(0,0,0,0.6);
            font-size: 28px;
            line-height: 40px;
            background: #355681;
            background: rgba(53,86,129, 0.8);
            border: 1px solid #fff;
            padding: 5px 15px;
            color: white;
            border-radius: 0 10px 0 10px;
            box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
            font-family: 'Muli', sans-serif;
        }

        h3 {
            margin: 1em 0 0.5em 0;
            font-weight: 600;
            font-family: 'Titillium Web', sans-serif;
            position: relative;
            text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
            font-size: 22px;
            line-height: 40px;
            color: #355681;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(53,86,129, 0.3);
        }

        h4 {
            margin: 1em 0 0.5em 0;
            font-weight: 600;
            font-family: 'Titillium Web', sans-serif;
            position: relative;
            font-size: 18px;
            line-height: 20px;
            color: #788699;
            font-family: 'Muli', sans-serif;
             border-bottom: 1px solid rgba(53,86,129, 0.3);
        }

        b {
            margin: 1em 0 0.5em 5px;
            font-weight: 600;
            font-family: 'Titillium Web', sans-serif;
            position: relative;
            font-size: 18px;
            line-height: 20px;
            color: #788699;
            font-family: 'Muli', sans-serif;
        }


        fieldset {
               width: 1000px;
                /*height: 100px;*/
                border: 2px solid blue ;
                border-color: #e8edff;
                /*margin-left: 60px;*/
                background-color: #e8edff;

                font-family: 'Titillium Web', sans-serif;
                position: relative;
                color: #2f496b;
                border-radius: 0 10px 0 10px;
        }
        label.field {
            text-align: right;
            width: 100px;
            float: left;
            font-weight: bold;
            font-family: 'Muli', sans-serif;
        }

        label.field2 {
            text-align: left;
            width: 100px;
            /*float: left;*/
            font-family: 'Muli', sans-serif;
        }

        input {
            width: 200px;
            /*float: left;*/
        }

       input.number {
            width: 50px;
            float: right;
            margin-right: 35px;
        }

        fiedlset p {
            clear: both;
            padding: 5px;
        }

        select {
             width: 200px;
              float: right;

        }

        .box1 {
            float: right;
             margin-left: 30px;
        }
        .box2 {
             position:relative;
             margin-left: 10px;
        }
        .box3 {
            width: 1000px;
            position: relative;
            margin: 1em 0 0.5em 0;
            font-weight: 600;
            font-family: 'Titillium Web', sans-serif;
            font-size: 18px;
            line-height: 20px;
            color: orange;
            font-family: 'Muli', sans-serif;
             border-bottom: 1px solid rgba(53,86,129, 0.3);
        }

    </style>
</head>
<body>
    <form>
    <div class="header">
        <fieldset>
             <h1> .NET Experience Questioner</h1>
            <legend></legend>
            <p><label class="field" for="FullName">Welcome, @candidate.getFirstName() @candidate.getLastName()</label><input type="text" id="FullName" name="FullName"/></p>
       </fieldset>
    </div>
    <div class="main">
        </br>  
        <div class="box3">    
             <label class="box2">
                 General
            </label>
            <label class="box1">
                 Level Of Knowledge
            </label>
            <label class="box1">         
                Years of experience
            </label>
        </div>   
       <fieldset>
            <legend></legend>
           <p><h4>.NET Framework & C# Language</h4></p>
           <p> <label class="field2" >.Net/C# Core, OOP :</label>
           <select>
              <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5" type="number"  name="years"/>
           </p>
            <p><label class="field2" >Reflection, Attribute-Based Programming</label>
                           <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5" type="number"  name="years"/>
            </p>

            <p><label class="field2" >Object Lifetime (GC/Finalize/IDisposable)</label>
            <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5" type="number"  name="years"/>
            </p>

             <p><label class="field2" >LINQ (IEnumerable<T>, IQueryable<T>, LINQ to XML), Lambda</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5" type="number"  name="years"/>
            </p>

             <p><label class="field2" >Callback Interfaces, Delegates, Anonymus Delegates and Events</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5" type="number"  name="years"/>
            </p>
       </fieldset>

                </br>
       <fieldset>
            <legend></legend>
           <p><h4>Database</h4></p>
           <p> <label class="field2" >SQL</label>
           <select>
               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5" type="number"  name="years"/>
           </p>
            <p><label class="field2" >Designing Database Schema, Creating ERD</label>
                           <select>
                               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5" type="number"  name="years"/>
            </p>

            <p><label class="field2" >Optimization and Tuning  (Please Specify Database)</label>
            <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5" type="number"  name="years"/>
            </p>

             <p><label class="field2" >Implementing Data Access Classes</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>

             <p><label class="field2" >ADO.NET</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

                        <p><label class="field2" >Entity Framework (Self Tracking Entities, POCO, Code First, Database First, EntityObject)</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

                        <p><label class="field2" >NHibernate</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>
       </fieldset>

                        </br>
       <fieldset>
            <legend></legend>
           <p><h4>ASP.NET</h4></p>
           <p> <label class="field2" >Application Pipeline, HttpModules, HttpHandlers</label>
           <select>
               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
           </p>
            <p><label class="field2" >ASP.NET Web Forms</label>
                           <select>
                               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>

            <p><label class="field2" >ASP.NET MVC</label>
            <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>

             <p><label class="field2" >ASP.NET Web Pages</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

             <p><label class="field2" >Razor view engine</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>
       </fieldset>

        </br>
       <fieldset>
            <legend></legend>
           <p><h4>Web Client</h4></p>
           <p> <label class="field2" >HTML/CSS</label>
           <select>
               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
           </p>
            <p><label class="field2" >Javascript</label>
                           <select>
                               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

            <p><label class="field2" >Jquery</label>
            <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

             <p><label class="field2" >Dojo</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

             <p><label class="field2" >ExtJS</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>
                        <p><label class="field2" >Web Sockets</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>
                        <p><label class="field2" >Ajax, XMLHttpRequest</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>
                        <p><label class="field2" >Comet, Long Polling</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>
       </fieldset>

                </br>
       <fieldset>
            <legend></legend>
           <p><h4>Desktop Client</h4></p>
           <p> <label class="field2" >Win Forms</label>
           <select>
               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
           </p>
            <p><label class="field2" >WPF</label>
                           <select>
                               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>

            <p><label class="field2" >Silverlight</label>
            <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

             <p><label class="field2" >XAML DataBinding & Validation</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

             <p><label class="field2" >XAML Style & Templating</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>
           <p><label class="field2" >Prism or CAB</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>
                      
       </fieldset>

       </br>
       <fieldset>
            <legend></legend>
           <p><h4>Communication</h4></p>
           <p> <label class="field2" >TCP/IP (Sockets)</label>
           <select>
               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
           </p>
            <p><label class="field2" >SOAP, WSDL</label>
                           <select>
                               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

            <p><label class="field2" >REST Service</label>
            <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

             <p><label class="field2" >WCF (Bindings, Authentication, Authorization, Behaviours, Validation, IIS)</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>              
       </fieldset>

               </br>
       <fieldset>
            <legend></legend>
           <p><h4>Server Side</h4></p>
           <p> <label class="field2" >Win32 (P\Invoke, User32)</label>
           <select>
               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
           </p>
            <p><label class="field2" >LDAP, Active Directory (ACL\ACE)</label>
                           <select>
                               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>

            <p><label class="field2" >MSMQ \ RabbitMQ \ Other persistant queue technology</label>
            <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>

             <p><label class="field2" >Windows Services</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>     
           
                        <p><label class="field2" >Multi-threading (ThreadPool, Monitor, WaitHandle, Task Lib, Asynchronous Patters etc.)</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>  
           
                        <p><label class="field2" >Design Patterns (DI, IOC, Repository, Observer, Factory)</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>  
           
                        <p><label class="field2" >WF (WorkFlow Foundation)</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>           
       </fieldset>

                       </br>
       <fieldset>
            <legend></legend>
           <p><h4>Misc</h4></p>
           <p> <label class="field2" >XML/XSL/XSD/XPath</label>
           <select>
               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
           </p>
            <p><label class="field2" >NoSQL Database (MongoDB, CouchDB, Cassandra, Redis, BigTable, HBase)</label>
                           <select>
                               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>

            <p><label class="field2" >Unit testing</label>
            <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>

             <p><label class="field2" >Log4Net</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>     
           
          <p><label class="field2" >Enterprise Library (Unity, Log, Exception, Validation)</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>  
           
            <p><label class="field2" >Castle Project or StructureMap</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>                      
       </fieldset>

            </br>
          <div class="box3">    
             <label class="box2">
                 Tools and Platforms
            </label>
            <label class="box1">
                 Level Of Knowledge
            </label>
            <label class="box1">         
                Years of experience
            </label>
        </div>  
       <fieldset>
            <legend></legend>

           <p><h4>Linux</h4></p>
           <p> <label class="field2" >Linux OS - desktop (end user) / server (administration) experience</label>
           <select>
               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" type="number"  name="years"/>
           </p>
            <p><label class="field2" >Linux OS - power user - worked over 2 years only  on  a linux desktop ( no windows!)</label>
                           <select>
                               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" vtype="number"  name="years"/>
            </p>

            <p><label class="field2" >Writing scripts - shell / bash / cshell etc</label>
            <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>

             <p><label class="field2" >Clustering and High Availability</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"v type="number"  name="years"/>
            </p>     
           
          <p><label class="field2" >Install and Configure 3rd parties application - various daemon configuration/administration</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number"  step="0.5" type="number"  name="years"/>
            </p>                    
       </fieldset>

        </br>
               <fieldset>
            <legend></legend>

           <p><h4>ALM and tools</h4></p>
           <p> <label class="field2" >TFS (Gated, Policies)</label>
           <select>
               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" type="number"  name="years"/>
           </p>
            <p><label class="field2" >Subversion</label>
                           <select>
                               <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>

            <p><label class="field2" >GIT</label>
            <select>
                <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>

             <p><label class="field2" >Mercurial</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>     
           
          <p><label class="field2" >MSI Packaging Tools (Orca)</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>      
           
             <p><label class="field2" >Automated software builds</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>
                   
             <p><label class="field2" >Shell Script or PowerShell</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>
                   
          <p><label class="field2" >WinDbg</label>
             <select>
                 <option value="none"></option>
              <option value="Basic">Basic</option>
              <option value="Developer">Developer</option>
              <option value="Expert">Expert</option>
            </select>
               <input class="number" step="0.5"  type="number"  name="years"/>
            </p>                      
       </fieldset>

    </div>
        <button type="submit">Submit</button>
    </form>

    <div class="footer"></div>

</body>
</html>